<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TOR Network Status</title>
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="stylesheet" href="./static/fonts/icomoon.css">
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="map">
    <div class="chart">
        <div class="geo"></div>
    </div>
    <div id="traffic-chart"
         style="width: 1280px; height: 240px; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 2;"></div>
</div>
</body>
<script src="./static/js/jquery.min.js"></script>
<script src="./static/js/echarts.min.js"></script>

<script src="./static/js/world.js"></script>
<script src="./static/js/tormap.js"></script>
<script src="./static/js/traffic.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var socket = io();
        var initialBackgroundNodes, initialCircuitData = [];

        socket.on('connect', function () {
            console.log('Connected to server');
            socket.emit('my_event', {data: 'I\'m connected!'});
            TorNetworkVisualization.init(initialBackgroundNodes, initialCircuitData);
        });

        socket.on('my_response', function (msg, cb) {
            console.log('Received message:', msg.data);
            if (cb) cb();
        });

        // Handle 'BUILT' command and background node data
        socket.on('BUILT', function (msg) {
            try {
                const newBackgroundNodes = JSON.parse(msg.data);
                console.log('Received BUILT command with data:', newBackgroundNodes);
                TorNetworkVisualization.updateBackgroundNodes(newBackgroundNodes);
            } catch (error) {
                TorNetworkVisualization.clearBackgroundNodes();
                console.error("Error processing BUILT data:", error);
            }
        });

        socket.on('SUCCEEDED', function (msg) {
            try {
                const newCircuitData = JSON.parse(msg.data);
                console.log('Received SUCCEEDED command with data:', newCircuitData);
                TorNetworkVisualization.updateCircuitData(newCircuitData);
            } catch (error) {
                console.error("Error processing SUCCEEDED data:", error);
            }
        });

        // Ping-pong latency test
        var ping_pong_times = [];
        var start_time;
        window.setInterval(function () {
            start_time = (new Date).getTime();
            $('#transport').text(socket.io.engine.transport.name);
            socket.emit('my_ping');
        }, 2000);

        window.setInterval(function () {
            socket.emit('updateNodes');
        }, 20000);

        socket.on('my_pong', function () {
            var latency = (new Date).getTime() - start_time;
            ping_pong_times.push(latency);
            ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
            var sum = 0;
            for (var i = 0; i < ping_pong_times.length; i++)
                sum += ping_pong_times[i];
            $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
        });

    });
</script>
</html>